@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 12% 95%;      /* #F4F4F0 */
    --foreground: 0 0% 7%;         /* #111 */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;
    --primary: 0 0% 7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 7%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 33%;
    --accent: 224 100% 33%;        /* #002FA7 */
    --accent-foreground: 0 0% 100%;
    --destructive: 3 100% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 7%;
    --input: 0 0% 90%;
    --ring: 0 0% 7%;
    --radius: 0rem;
    --chart-1: 224 100% 33%;
    --chart-2: 3 100% 60%;
    --chart-3: 51 100% 50%;
    --chart-4: 148 100% 39%;
    --chart-5: 0 0% 7%;
  }
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}

@layer base {
  [data-debug-wrapper='true'] { display: contents !important; }
}
